extends layout
block content
  .container
    .row
      .col-sm-2
        .list-group
          a.list-group-item
            | 个人信息
          a.list-group-item
            | 个人信息
          a.list-group-item.active(href='/')
              | 个人信息
          a.list-group-item
            | 个人信息
          a.list-group-item
            | 个人信息
      .col-sm-10
