extends layout
block content
  .container
    .row
      .col-sm-2
        .list-group
          a.list-group-item.active(href='#', data-url='/users/info')
            | 个人信息
          a.list-group-item(href='#', data-url='/users/loginlog')
            | 登录日志
          a.list-group-item(href='#', data-url='/users/chatlog')
            | 聊天记录
      .col-sm-10
        .panel.panel-default(style='padding: 20px;')#content
  script.
    function getContent(url){
      $.get(url,function(data){
          if(data){
            $('#content').html(data);
          }
        });
    }
    $('.list-group-item').on('click', function(){
        $('.list-group-item.active').removeClass('active');
        $(this).addClass('active');
        getContent($(this).data('url'));
      });
    getContent('/users/info');