extends layout
block content
  if user
    .row
      .col-md-10
        .panel.panel-default
          .panel-heading
            | 欢迎：#{user.username} 进入游戏聊天室
          ul.list-group#chatPanel
          .panel-footer
            .input-group
              input.form-control#inputMessage(type='text',placeholder='输入内容')
              span.input-group-btn
                button.btn.btn-success#btnSend(type='button') 发送
      .col-md-2
        .panel.panel-default
          .panel-heading
            | 在线玩家
          ul.list-group
            .list-group-item
              a(href='#') No1.
  style.
    #chatPanel{
      height: 400px;
      overflow-y: scroll;
    }
    .chatArea {
      height: 100%;
    }
  script.
    $('#nav_user_chatroom').addClass('active');
  script(src='/socket.io/socket.io.js')
  script(src='/js/chatroom.js')
  script.
    var username = '#{user.username}';
    var userID = '#{user._id}';