extends layout
block content
  .container
    .row
      .col-sm-2
        .list-group
          a.list-group-item.active(href='/user/info')
            | 个人信息
          a.list-group-item(href='/user/loginlog')
            | 登录日志
          a.list-group-item(href='/user/chatlog')
            | 聊天记录
          a.list-group-item(href='/user/commandlog')
            | 指令记录
      .col-sm-10
        .container-fluid
          block rightContent
//-
  script.
    function getContent(url){
      $.get(url,function(data){
          if(data){
            $('#content').html(data);
          }
        });
    }
    $('.list-group-item').on('click', function(){
        $('.list-group-item.active').removeClass('active');
        $(this).addClass('active');
        getContent($(this).data('url'));
      });
    getContent('/user/info');