extends ../layout
block content
  .container
    h1 在线用户列表
    .table-responsive
      table.table.table-bordered.table-hover
        tr
          td 用户名
          td 在线状态
          td 上线时间
        each u in users
          tr
            td #{u.username}
            td
              if u.online
                | 在线
              else
                | 离线
            td #{ time2string(u.meta.lastloginAt) }

  script.
    $('#nav_user_online').addClass('active');