// 页脚
style.
  .hr{
  	height: 20px;
  }
.container(style='margin-top:50px;')
  hr.hr
  .panel.panel-default
    .panel-body
      | &copy;2015 anchor
      span(style='display:none;')
        script(src='http://s11.cnzz.com/z_stat.php?id=1255391960&web_id=1255391960' language='JavaScript')
script(src='/bootstrap/dist/js/bootstrap.min.js')