// 页脚
style.
  .hr{
  	height: 20px;
  }
.container(style='margin-top:50px;')
  hr.hr
  .panel.panel-default
    .panel-body
      | &copy;2015 anchor
  
script(src='/bootstrap/dist/js/bootstrap.min.js')