// 导航    
.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle.collapsed(data-toggle='collapse',data-target='#bs-example-navbar-collapse-1')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') 首页
    .collapse.navbar-collapse#bs-example-navbar-collapse-1
      .nav.navbar-nav
        li#nav_gamedownload
          a(href='/download') 游戏下载
        li#nav_user_chatroom
          a(href='/user/chatroom') 在线聊天
        li.dropdown
          a.dropdown-toggle(href="#",data-toggle="dropdown" role="button" aria-expanded="false") 历史记录
            span.caret
          ul.dropdown-menu(role="menu")
            li#nav_user_loginlog
              a(href='/user/loginlog') 登录日志
            li#nav_user_chatlog
              a(href='/user/chatlog') 聊天记录
            li#nav_user_commandlog
              a(href='/user/commandlog') 指令记录
        if user && user.op
          li.dropdown
            a.dropdown-toggle(href="#",data-toggle="dropdown" role="button" aria-expanded="false") 管理
              span.caret
            ul.dropdown-menu(role="menu")
              li
                a(href='/op/whitelist') 白名单管理
      .nav.navbar-nav.navbar-right
        if user
          li
            a(href='/user/info') [我的资料]
          li
            a(href='/user/logout') 退出
          li
            a
        else
          li
            a(href='/user/login') 登录
          li
            a