// 导航    
.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle.collapsed(data-toggle='collapse',data-target='#bs-example-navbar-collapse-1')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') Minecraft 秀
    .collapse.navbar-collapse#bs-example-navbar-collapse-1
      .nav.navbar-nav
        li#nav_user_list
          a(href='/user/list') 玩家列表
        li#nav_user_online
          a(href='/user/online') 在线玩家
        li#nav_user_loginlog
          a(href='/user/loginlog') 登录日志
        li#nav_user_chatlog
          a(href='/user/chatlog') 聊天记录
        li#nav_user_commandlog
          a(href='/user/commandlog') 指令记录
        li#nav_user_chatroom
          a(href='/user/chatroom') 在线聊天
      .nav.navbar-nav.navbar-right
        if user
          li
            a(href='/user/info') [我的资料]
          li
            a(href='/user/logout') 退出
          li
            a
        else
          li
            a(href='/user/login') 登录
          li
            a