extends layout
block content
  .container
    .row
      .col-md-12
        .jumbotron
          h2 客户端下载：
          .panel.panel-default
            .panel-body
              p
                | 服务器版本：1.7.10<br>
                | Windows 客户端：<a href='http://yun.baidu.com/pcloud/album/file?album_id=5424843701208352924&uk=673607653&fsid=445795438727169' target='_blank'>百度云盘下载</a><br>
                | 更新时间：2015-06-13<br>
  script.
    $('#nav_gamedownload').addClass('active');