extends layout
block content
  .container
    .row
      .col-md-12
        .jumbotron
          h2 客户端下载：
          .panel.panel-default
            .panel-body
              p
                | 服务器版本：1.7.10<br>
                | Windows 客户端：<a href='http://pan.baidu.com/s/1pJyvguB' target='_blank'>百度网盘下载</a><br>
                | 更新时间：2015-06-12<br>
  script.
    $('#nav_gamedownload').addClass('active');