extends layout
block content
  .container
    .panel.panel-warning
      .panel-heading 错误
      .panel-body
        h1=message
        h2=error.status
        if error.stack
          pre=error.stack
    .center-block.visible-lg-block.visible-md-block.visible-sm-block
      img.center-block.img-responsive.img-thumbnail(src='/images/404.gif')