extends layout
block content
  .container
    .jumbotron
      h2 Hello MInecraft...
      script(type='text/javascript').
        var env = 'debug'
      .row
        .col-md-8 a
        .col-md-4 b
        