extends layout
block content
  .container
    .row
      .col-md-12
        .jumbotron
          h2 Minecraft 公告：
          .panel.panel-default
            .panel-body
              p
                | 服务器版本：1.7.10<br>
                | 游戏内管理员：<a href='http://wpa.qq.com/msgrd?v=3&amp;uin=873260746&amp;site=qq&amp;menu=yes&amp;&t=new Date()'>@Meyk</a><br>
                | QQ群：307602801<br>
                | 客户端：<a href='http://pan.baidu.com/s/1qWumx6s' target='_blank'>度娘网盘下载</a><br>
                | 更新时间：2015-04-06
                | 服务器地址：客户端内置<br>
    :markdown
      # 游戏帮助
      ## Mods 模组
        * AdvancedSolarPanel 高级太阳能 [原帖地址](http://forum.industrial-craft.net/index.php?page=Thread&threadID=3291)
        * Applied Energistics 2 应用能源2 [原帖地址](http://ae2.ae-mod.info/)
        * Forestry 林业 [原帖地址](http://forestry.sengir.net/wiki.new/doku.php)
        * IndustrialCraft 2 Experimental 工业2实验版 
          [原帖地址](http://ic2.player.to:8080/job/IC2_experimental/) 
          [bbs教程](http://www.mcbbs.net/forum.php?mod=viewthread&tid=289528&highlight=industrialcraft)
        * InventoryTweaks R键背包整理
        * Mo’ Bends 更多弯曲动作 [bbs教程](http://www.mcbbs.net/forum.php?mod=viewthread&tid=307269&highlight=%E6%9B%B4%E5%A4%9A%E5%BC%AF%E6%9B%B2)
        * Not Enough Items NEI物品管理器 [bbs教程](http://www.mcbbs.net/forum.php?mod=viewthread&tid=389937&highlight=NotEnoughItems)
        * Randomite 五彩矿石 [bbs教程](http://www.mcbbs.net/forum.php?mod=viewthread&tid=425930&highlight=Randomite)
      ## Plugin 插件
        * CoreProtect 核心保护 [bbs教程](http://www.mcbbs.net/forum.php?mod=viewthread&tid=72515&highlight=CoreProtect)
        * Craftguard 合成保护
        * Essentials 基础插件
        * Lift 电梯插件 [bbs教程](http://www.mcbbs.net/forum.php?mod=viewthread&tid=82178&highlight=Lift)
        * PlotMe 地皮插件 [bbs教程](http://www.mcbbs.net/forum.php?mod=viewthread&tid=236421&highlight=PlotMe)
        * PorteCoulissante 城门插件
          [原帖地址](http://dev.bukkit.org/bukkit-plugins/portecoulissante/)
          [bbs教程](http://www.mcbbs.net/forum.php?mod=viewthread&tid=187055&highlight=PorteCoulissante)
        * Residence 领地
          [原帖地址](http://dev.bukkit.org/bukkit-plugins/residence/)
          [bbs教程](http://www.mcbbs.net/thread-151245-1-1.html)
        * ShowCaseStandalone 半砖商店 SCS
          [原帖地址](http://dev.bukkit.org/bukkitplugins/scs/)
          [bbs教程](http://dev.bukkit.org/bukkit-plugins/scs/)
        * TreeAssist 砍树插件
          [原帖地址](http://dev.bukkit.org/bukkit-plugins/tree-assist/)
          [bbs教程](http://www.mcbbs.net/forum.php?mod=viewthread&tid=128430&highlight=TreeAssist)
        * WorldBorder 世界边界 
          [原帖地址](http://dev.bukkit.org/bukkit-plugins/worldborder/)
        * WorldEdit 创世神
        * WorldGuard 防熊插件 [原帖地址](http://dev.bukkit.org/bukkit-plugins/worldguard/)