extends layout
block content
  .container
    .row
      .col-md-12
        .jumbotron
          h2 Minecraft 公告：
          .panel.panel-default
            .panel-body
              p
                | 服务器地址：******<br>
                | 服务器版本：1.7.10<br>
                | 服务器管理：<a href='http://wpa.qq.com/msgrd?v=3&amp;uin=873260746&amp;site=qq&amp;menu=yes&amp;&t=new Date()'>@Meyk</a><br>