doctype html

html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(name="viewport",content="width=device-width, initial-scale=1")
    title Minecraft 秀
    link(href='/bootstrap/dist/css/bootstrap.min.css',rel="stylesheet")
    //[if lt IE 9]> <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script> <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script> <![endif]
    style.
      body{
        padding-top: 50px;
        padding-bottom: 50px;
      }
      .carousel{
        height: 500px;
        backgroud-color: #000;
      }
      .carousel .item{
        height: 500px;
        backgroud-color: #000;
      }
      .carousel img{
        width: 100%;
      }
  body
    // 导航
    .navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle.collapsed(data-toggle='collapse',data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') Minecraft 秀
        .collapse.navbar-collapse#bs-example-navbar-collapse-1
          .nav.navbar-nav
            li.active
              a(href='#') 游戏截图
            li
              a(href='#') 玩家列表
            li
              a(href='#') 在线玩家
          .nav.navbar-nav.navbar-right
            li.active
              a(href='#') 登录
            li
              a(href='#') 注册
    // 轮播图 小设备不显示，md lg 显示
    .container.clearfix.visible-md-block.visible-lg-block
      #carousel-example-generic.carousel.slide(data-ride='carousel')
        // Indicators
        ol.carousel-indicators
          li.active(data-target='#carousel-example-generic', data-slide-to='0')
          li(data-target='#carousel-example-generic', data-slide-to='1')
          li(data-target='#carousel-example-generic', data-slide-to='2')
        // Wrapper for slides
        .carousel-inner(role='listbox')
          .item.active
            img(src='/images/carousel/1.jpg', alt='')
            .carousel-caption
          .item
            img(src='/images/carousel/2.jpg', alt='')
            .carousel-caption
          .item
            img(src='/images/carousel/3.jpg', alt='')
            .carousel-caption
        // Controls
        a.left.carousel-control(href='#carousel-example-generic', role='button', data-slide='prev')
          span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
          span.sr-only Previous
        a.right.carousel-control(href='#carousel-example-generic', role='button', data-slide='next')
          span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
          span.sr-only Next

    // 内容
    block content

    // 页脚
    .container(style='margin-top:50px;')
      .panel.panel-default
        .panel-body
          | &copy;2015 anchor
      
    script(src='/jquery/dist/jquery.min.js')
    script(src='/bootstrap/dist/js/bootstrap.min.js')